/.settings/
/.classpath
/.project
/.metadata
/.factorypath
/.vscode

/.gradle/
/gradle.properties
/gradle-app.setting

/target
/build

/src/main/webapp/css
/src/main/webapp/js/libs
/src/main/webapp/scss

