openapi: 3.0.1
info:
  title: Open API アノテーション サンプル
  description: コード・ファーストでAPIを実装し、アノテーションを付加してOpen API仕様のドキュメントを出力するサンプルです.
  contact:
    name: Tad Kotegawa
  license:
    name: Oracle Japan
    url: http://www.oracle.com
  version: "1.0"
servers:
- url: http://jcs.ochacafe.kotegawa.com/api-ochacafe/api/v1
  variables: {}
tags:
- name: /country
  description: 国情報の提供
paths:
  /country/{countryId}:
    get:
      tags:
      - /country
      summary: Find country by country code
      description: 国コードから国情報を検索します
      operationId: getCountry
      parameters:
      - name: countryId
        in: path
        description: 国際電話の国番号 - US=1, JP=81, etc.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 国情報
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Country'
        401:
          description: 認証に失敗しました
        404:
          description: 指定した国コードから国情報が見つかりませんでした.
  /country:
    get:
      tags:
      - /country
      summary: List all countries
      description: 保持している全ての国情報のリストを取得します
      operationId: getCountries
      responses:
        200:
          description: 国情報のリスト
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        401:
          description: 認証に失敗しました.
components:
  schemas:
    Country:
      type: object
      properties:
        countryId:
          type: integer
          format: int32
        countryName:
          type: string
